{% extends 'AmapBundle:Default:layout.html.twig' %}

{% block main -%}
    <h1>Saison creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('saison') }}">
            Retour à la liste des saisons
        </a>
    </li>
</ul>
{% endblock %}
