{% extends 'AmapBundle:Default:layout.html.twig' %}

    
{% block main -%}
    <h1>Amap creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('amap') }}">
            Retour à la liste des amaps
        </a>
    </li>
</ul>
{% endblock %}
