{% extends 'AmapBundle:Default:layout.html.twig' %}

{% block main -%}
    <h1>PreferenceConsommateur edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('preferenceConsommateur') }}">
            Retoru à la liste des preferences
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
