{% extends 'AmapBundle:Default:layout.html.twig' %}

{% block body -%}
    <h1>Preference consommateur creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('preferenceConsommateur') }}">
           Retour à la liste des preferences consommateur
        </a>
    </li>
</ul>
{% endblock %}
