{% extends '::base.html.twig' %}

{% block main -%}
    <h1>ContratConsommateur edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('contratconsommateur') }}">
           Retour aux contrats consomateurs
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
