{% extends 'AmapBundle:Default:layout.html.twig' %}

{% block main -%}
    <h1>ContratConsommateur creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('contratConsommateur') }}">
            Retoru à la liste contrats consomateurs
        </a>
    </li>
</ul>
{% endblock %}
