{% extends 'AmapBundle:Default:layout.html.twig' %}

{% block body -%}
    <div class="row">
        <div class ="col-md-12 titre">
            <h1>Création des magasins</h1>
        </div>
    </div>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('magasin') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
