{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Responsable list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Telephone</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('responsable_show', { 'id': entity.id }) }}">{{ entity.telephone }}</a></td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('responsable_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
