.header{
    background-color: #64DD17;
    height: 100px;
    background-image: url("../images/header_background.jpg");
    background-size: 100%;
}
.menu{
     background-color: #64DD17;
    height: 50px;
}