
<div class="header ">
    <div class="col-md-12">
        <div class="logo col-md-1">
            <img src="{{ asset('bundles/amap/images/logo.jpg') }}"/>
        </div> 
        <div class="menu col-md-10 text-center">
            <a href="index" class="col-md-2 item-menu">Accueil</a>
            <a href="index" class="col-md-2 item-menu">Gesiton des Amaps</a>
            <a href="index" class="col-md-2 item-menu">Gesiton des Produits</a>
            <a href="index" class="col-md-2 item-menu">Gesiton des Saison</a>
   <a href="index" class="col-md-2 item-menu">Gesiton des paniers</a>
      <a href="index" class="col-md-2 item-menu">Gesiton des contrats</a>
         <a href="index" class="col-md-2 item-menu">Mes contrats</a>
        </div>
        <div class="login col-md-1 pull-right">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            Connexion
        </div>
    </div>
</div>